# Build output
dist/
public/build/
.vercel/
.netlify/

# Astro
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.swp
*.swo

# Cache
.cache/
.temp/
tmp/
.eslintcache

# Coverage / Testing
coverage/

# TypeScript
*.tsbuildinfo

# Misc
*.bak
*.tmp