:root {
  --sl-color-accent-low: #2a2d43;
  --sl-color-accent: #ff8c42;
  --sl-color-accent-high: #fbfff1;

  --sl-color-gray-1: #fbfff1;
  --sl-color-gray-2: #d7d9cf;
  --sl-color-gray-3: #a8ab9f;
  --sl-color-gray-4: #6d7185;
  --sl-color-gray-5: #4b4f63;
  --sl-color-gray-6: #2a2d43;
}